<div class="newsletter my-3 d-none d-xl-block">
  <div class="card">
    <div class="card-body">
      <p class="title">Quinzenário Pindograma</p>
      <p class="sign-up" style="font-size:22px;">Inscreva-se!</p>
      <p class="text-secondary small"> Receba a newsletter com as melhores matérias do <i>Pindograma</i> em seu email a cada dois domingos!</p>
      <form action="https://pindograma.us17.list-manage.com/subscribe/post"       method="POST">
        <input type="hidden" name="u" value="669555e1986fad91fabf8d796" />
        <input type="hidden" name="id" value="c2fd975134" />
        <input type="email" placeholder="seu email" class="rounded field-orange py-4" autocapitalize="off" name="MERGE0" id="MERGE0" size="30" value="" style="height:1px" />
        <input type="submit" class="rounded button py-2" value="CONFIRMA"/>

        <input type="hidden" name="mc_signupsource" value="hosted" />
      </form>
    </div>
  </div>
</div>
