<div class="card bg-blue px-3" style="border: none; border-radius: 0;">
  <h3 class="orange">newsletter</h3>
  
  <p class="small blue mx-1 mt-0 mb-0"><strong>Para receber notificações de novas matérias,</strong></p>
  <h4 class="blue mx-1" style="text-align: justify;">digite seu email:</h4>
  
  <form action="https://pindograma.us17.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="669555e1986fad91fabf8d796" />
    <input type="hidden" name="id" value="c2fd975134" />
    <input type="email" class="rounded w-100 py-4 input-orange" autocapitalize="off" name="MERGE0" id="MERGE0" size="30" value="" style="height:1px " />
    <input type="hidden" name="mc_signupsource" value="hosted" />
  </form>
  
  <p class="small blue mx-1" style="text-align: justify;"><b>(e aperte enter!)</b></h4>
</div>

