---
layout: default
---

{% assign main_post = site.posts | where: 'refid', site.data.metadata.main_post | first %}
{% assign secondary_post = site.posts | where: 'refid', site.data.metadata.secondary_post | first %}

{% assign main_post_author = site.authors | where: 'short_name', main_post.author | first %}
{% assign main_post_second_author = site.authors | where: 'short_name', main_post.second_author | first %}
{% assign secondary_post_author = site.authors | where: 'short_name', secondary_post.author | first %}
{% assign secondary_post_second_author = site.authors | where: 'short_name', secondary_post.second_author | first %}

<section>
  <div class="pindograma-container p-0">
    <div class="row mb-5 mx-0">
      <div class="col-12 col-lg-6 col-xl-8 mx-0 mx-sm-2 mx-md-0 p-0 px-md-5">
        <!-- MD/XL Main Articles -->
        <div class="d-none d-sm-none d-md-block d-lg-none d-xl-block new-pubs">
          <a class="row mb-5" style="display: flex; text-decoration: none;" href="{{ main_post.url }}">
            <div class="col-9 px-0 first-headline-image-container">
              <img class="headline-image" src="{{ main_post.image }}" />
            </div>

            <div class="col-3 p-0 main-headline-container">
              <div class="card">
                <h4 class="bigtitle">{{ main_post.title }}</h4>
                <p class="undertitle small py-4">por 
                  <span class="author bg-orange text-white">
                    {{ main_post_author.name }}
                  </span>
                  {% if main_post_second_author %}<br>e 
                  <span class="author bg-orange text-white">
                    {{ main_post_second_author.name }}
                  </span>
                  {% endif %}
                </p>
                <p class="undertitle small">{{ main_post.subtitle }}</p>
              </div>
            </div>
          </a>

          <a style="display: flex; text-decoration: none;" href="{{ secondary_post.url }}" class="row mb-5 second-headline-parent-container">
            <div class="p-0 second-headline-container">
              <div class="card">
                <h4 class="bigtitle">{{ secondary_post.title }}</h4>
                <p class="undertitle small py-4">por 
                  <span class="author bg-green text-white">
                      {{ secondary_post_author.name }}
                  </span>
                  {% if secondary_post_second_author %}<br>e 
                  <span class="author bg-green text-white">
                    {{ secondary_post_second_author.name }}
                  </span>
                  {% endif %}
                </p>
                <p class="undertitle small">{{ secondary_post.subtitle }}</p>
              </div>
            </div>
            
            <div class="px-0 second-headline-image-container">
              <img class="headline-image" src="{{ secondary_post.image }}" />
            </div>
          </a>
        </div>

        <!-- XS/SM/LG Main Articles -->
        <div class="d-block d-sm-block d-md-none d-lg-block d-xl-none index-mobile">
          <a style="display: flex; text-decoration: none;" href="{{ main_post.url }}" class="row mx-0">
            <div class="card-new">
              <img src="{{ main_post.image }}" class="main-article-image-small">
            </div>
            <h5 class="darkgray px-4 mobile-article-title bigtitle">{{ main_post.title }}</h5>
            <p class="blue px-4 underauthor">por 
              <span class="text-white bg-green mr-0 px-0">
                {{ main_post_author.name }}
              </span>
              {% if main_post_second_author %}
              &nbsp;e
              <span class="text-white bg-green mr-0 px-0">
                {{ main_post_second_author.name }}
              </span>
              {% endif %}
            </p>
            <p class="undertitle small darkgray px-4">{{ main_post.subtitle }}</p>
          </a>

          <a style="display: flex; text-decoration: none;" href="{{ secondary_post.url }}" class="row mx-0">
            <div class="col-9"></div>
            <div class="col-3 more-highlights px-0">
              <hr/>
            </div>
            <div class="card-more-highlights">
              <img src="{{ secondary_post.image }}" class="main-article-image-small">
            </div>
            <h5 class="darkgray px-4 mobile-article-title bigtitle">{{ secondary_post.title }}</h5>
            <p class="blue px-4 underauthor">por 
              <span class="text-white bg-orange mr-0 px-0">
                {{ secondary_post_author.name }}
              </span>
              {% if secondary_post_second_author %}
              &nbsp;e 
              <span class="text-white bg-orange mr-0 px-0">
                {{ secondary_post_second_author.name }}
              </span>
              {% endif %}
            </p>
            <p class="undertitle small darkgray px-4">{{ secondary_post.subtitle }}</p>
          </a>
        </div>

        <div class="d-block d-lg-none"><hr class="bg-orange" style="height: 1px;"></div>
      </div>

      <div class="col-12 col-lg-6 col-xl-4 mx-0 mx-sm-2 mx-md-0 p-0 px-md-5">
        <!-- Desktop Graphics -->
        <div class="d-none d-md-flex d-lg-block fixed-cards">
          <div class="col-md-6 col-lg-12 mx-2 pt-4">
            <div class="card m-0 p-0 gr-card">
              <a class="d-flex card-body p-2 text-decoration-none gr-container" href="https://pindograma.shinyapps.io/agregador">
                <p class="underauthor green px-2 graph-heading-green">agregador de pesquisas</p>
                <p class="darkgray">Acompanhe as últimas pesquisas eleitorais por todo o Brasil</p>
                <div class="gr-image">
                  <img src="/assets/images/agregador-raw.png" class="graph-image" />
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-12 mx-2 pt-4">
            <div class="card m-0 p-0 gr-card">
              <a class="d-flex card-body p-2 text-decoration-none gr-container" href="/ranking.html">
                <p class="underauthor orange px-2 graph-heading-orange">ranking de institutos</p>
                <p class="darkgray">Confira a performance dos institutos de pesquisa brasileiros (atualizado em 2020)</p>
                <div class="gr-image">
                  {% include ranking-table.html %}
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Mobile Graphics -->
        <div class="d-block d-md-none">
          <div class="w-100">
            <div class="col-12 card m-0 p-0">
              <a class="d-block card-body p-2 text-decoration-none" href="https://pindograma.shinyapps.io/agregador">
                <p class="underauthor green px-2 graph-heading-green">agregador de pesquisas</p>
                <p class="darkgray">Acompanhe as últimas pesquisas eleitorais por todo o Brasil</p>
                <img src="/assets/images/agregador-raw.png" class="graph-image" />
              </a>
            </div>

            <div class="col-12 card m-0 p-0">
              <a class="d-block card-body p-2 text-decoration-none" href="/ranking.html">
                <p class="underauthor orange px-2 graph-heading-orange">ranking de institutos</p>
                <p class="darkgray">Confira a performance dos institutos de pesquisa brasileiros (atualizado em 2020)</p>
                {% include ranking-table.html %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Desktop Ad -->
    <div class="row add-card mx-0 d-none d-md-flex">
      <div class="col-2 px-0 pt-3">
        <hr/>
      </div>
      <div class="col-8 px-0">
        <div class="card p-5 undertitle ad-container">
          <p class="m-0">
            Anuncie no <i>Pindograma</i>! Entre em contato com anuncios@pindograma.com.br.
          </p>
        </div>
      </div>
      <div class="col-2 px-0 pt-3">
        <hr/>
      </div>
    </div>
      
    <!-- Mobile Newsletter -->
    <div class="row my-2 mx-0 p-0 d-block d-md-none">
      <div class="col p-0">
        {% include newsletter-mobile.html %}
      </div>
    </div>
      
    <!-- Mobile Posts -->
    <div class="row mt-2 mx-0 p-0 d-block d-sm-none index-mobile">
      <h1 class="title-read-too blue pl-5">recentes</h1>
      <div class="read-too">
        {% for post in site.posts limit:30 %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
            {% include related-post-mobile.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% else %}
            {% include related-post-mobile-white.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

      <!-- Desktop Posts -->
    <div class="row my-3 mx-0 d-none d-sm-flex">
      <div class="col-12 col-lg-9 old-pubs">
        <div class="yellow bg-white old-pubs-tag d-none d-md-block">
          <div class="border-yellow">
            <p class="m-0 px-2">recentes</p>
          </div>
        </div>
        <h1 class="d-sm-block d-md-none index-mobile title-read-too blue mb-0" style="text-decoration: underline;">recentes</h1>
        {% for post in site.posts limit:30 %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
            {% include post-1.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% else %}
            {% include post-2.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% endif %}
        {% endfor %}
      </div>
    
      <!-- Desktop Newsletter -->
      <div class="col col-lg-3 d-none d-md-block">
        {% include newsletter-desktop.html %}
      </div>
    </div>
  </div>

  <div style="clear: both;"></div>
</section>
