---
layout: default
---

{% include collecttags.html %}

{% assign main_post = site.posts | where: 'refid', site.data.metadata.main_post | first %}
{% assign secondary_post = site.posts | where: 'refid', site.data.metadata.secondary_post | first %}

{% assign main_post_author = site.authors | where: 'short_name', main_post.author | first %}
{% assign main_post_second_author = site.authors | where: 'short_name', main_post.second_author | first %}
{% assign secondary_post_author = site.authors | where: 'short_name', secondary_post.author | first %}
{% assign secondary_post_second_author = site.authors | where: 'short_name', secondary_post.second_author | first %}

<section>
  <div class="pindograma-container p-0">
    <div class="row mb-5 mx-0">
      <div class="col-12 col-lg-6 mx-0 mx-sm-2 mx-md-0 p-0 px-md-5">
        <!-- XS/SM/LG Main Articles -->
        <div class="d-block d-md-flex d-lg-block index-mobile">
          <a style="display: flex; text-decoration: none;" href="{{ main_post.url }}" class="row mx-0 mr-md-4 mx-lg-0">
            <div class="card-new">
              <img src="{{ main_post.image }}" class="main-article-image-small">
            </div>
            <h5 class="darkgray px-4 mobile-article-title bigtitle">{{ main_post.title }}</h5>
            <p class="blue px-4 underauthor">por 
              <span class="text-white bg-green mr-0 px-0">
                {{ main_post_author.name }}
              </span>
              {% if main_post.second_author %}
              &nbsp;e
              <span class="text-white bg-green mr-0 px-0">
                {{ main_post_second_author.name }}
              </span>
              {% endif %}
            </p>
            <p class="undertitle small darkgray px-4">{{ main_post.subtitle }}</p>
          </a>

          <a style="display: flex; text-decoration: none;" href="{{ secondary_post.url }}" class="row mx-0 ml-md-4 ml-lg-0 mt-5 mt-md-0 mt-lg-5">
            <div class="card-more-highlights">
              <img src="{{ secondary_post.image }}" class="main-article-image-small">
            </div>
            <h5 class="darkgray px-4 mobile-article-title bigtitle">{{ secondary_post.title }}</h5>
            <p class="blue px-4 underauthor">por 
              <span class="text-white bg-orange mr-0 px-0">
                {{ secondary_post_author.name }}
              </span>
              {% if secondary_post.second_author %}
              &nbsp;e 
              <span class="text-white bg-orange mr-0 px-0">
                {{ secondary_post_second_author.name }}
              </span>
              {% endif %}
            </p>
            <p class="undertitle small darkgray px-4">{{ secondary_post.subtitle }}</p>
          </a>
        </div>

        <div class="d-block d-lg-none"><hr class="bg-orange" style="height: 1px;"></div>
      </div>

      <div class="col-12 col-lg-6 mx-0 mx-sm-2 mx-md-0 p-0 px-md-5">
        <!-- Desktop Graphics -->
        <div class="d-none d-md-flex d-lg-block fixed-cards">
          <div class="col-md-6 col-lg-12 mx-2 pt-4">
            <div class="card m-0 p-0 gr-card">
              <div class="d-flex card-body p-2 text-decoration-none gr-container ">
                <p class="underauthor green px-2 graph-heading-green">Ensaios Pindograma</p>

                {% for post in site.tags['ensaios'] limit:4 %}
                  {% include ensaio-post.html url=post.url title=post.title subtitle=post.subtitle author=post.author %}
                {% endfor %}
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-12 mx-2 pt-4">
            <div class="card m-0 p-0 gr-card">
              <a class="d-flex card-body p-2 text-decoration-none gr-container" href="/ranking.html">
                <p class="underauthor orange px-2 graph-heading-orange">ranking de institutos</p>
                <p class="darkgray">Confira a performance dos institutos de pesquisa brasileiros (atualizado em set/2024)</p>
                <div class="gr-image">
                  {% include ranking-table.html %}
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Mobile Graphics -->
        <div class="d-block d-md-none">
          <div class="w-100">
            <div class="col-12 card m-0 p-0">
              <div class="d-block card-body p-2 text-decoration-none">
                <p class="underauthor green px-2 graph-heading-green">Ensaios Pindograma</p>

                {% for post in site.tags['ensaios'] limit:4 %}
                  {% include ensaio-post.html url=post.url title=post.title subtitle=post.subtitle author=post.author %}
                {% endfor %}
              </div>
            </div>

            <div class="col-12 card m-0 p-0">
              <a class="d-block card-body p-2 text-decoration-none" href="/ranking.html">
                <p class="underauthor orange px-2 graph-heading-orange">ranking de institutos</p>
                <p class="darkgray">Confira a performance dos institutos de pesquisa brasileiros (atualizado em set/2024)</p>
                {% include ranking-table.html %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Mobile Newsletter -->
    <div class="row my-2 mx-0 p-0 d-block d-md-none">
      <div class="col p-0">
        {% include newsletter-mobile.html %}
      </div>
    </div>
    
    <div class="row my-2 mx-3 d-none d-md-block d-lg-none">
      <div class="col">
        {% include newsletter-desktop.html %}
      </div>
    </div>
      
    <!-- Mobile Posts -->
    <div class="row mt-2 mx-0 p-0 d-block d-sm-none index-mobile">
      <h1 class="title-read-too blue pl-5">recentes</h1>
      <div class="read-too">
        {% for post in site.posts limit:30 %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
            {% include related-post-mobile.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% else %}
            {% include related-post-mobile-white.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Desktop Posts -->
    <div class="row my-3 mx-0 d-none d-sm-flex">
      <div class="col-12 col-lg-9 old-pubs">
        <div class="yellow bg-white old-pubs-tag d-none d-md-block">
          <div class="border-yellow">
            <p class="m-0 px-2">recentes</p>
          </div>
        </div>
        <h1 class="d-sm-block d-md-none index-mobile title-read-too blue mb-0" style="text-decoration: underline;">recentes</h1>
        {% for post in site.posts limit:30 %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
            {% include post-1.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% else %}
            {% include post-2.html title=post.title author=post.author second_author=post.second_author url=post.url image=post.image date=post.date %}
          {% endif %}
        {% endfor %}
      </div>
      
      <!-- Desktop Newsletter -->
      <div class="col col-lg-3 d-none d-lg-block">
        <div class="position-sticky" style="top: 10px;">
          {% include newsletter-desktop.html %}
        </div>
      </div>
    </div>
  </div>

  <div style="clear: both;"></div>
</section>
