---
layout: default
---

{% assign author = site.authors | where: 'short_name', page.author | first %}
{% assign similar_posts = site.posts | where_exp:"post","post.url != page.url" %}

<section>
  <article class="d-none d-md-block">
    <div class="container-fluid">
      <div class="row px-5">
        <div class="card" style="width: 100%; border-width: 2px; border-radius: 1px; border-color: #6c82a0;">
          <div class="card-body blue">
            <h1 class="article-title">{{ page.title }}</h1>
            <hr class="green-separator"/>
            <h5 class="article-undertitle undertitle darkgray">{{ page.subtitle }}</h5>
            <h5 class="mt-4 underauthor">POR {{ author.name | upcase }} &bull; {{ page.date | date: "%d/%m/%Y" }}</h5>
          </div>
        </div>
        <div class="article-image-container">
          <img src="{{ page.image }}" class="article-image mx-auto" />
        </div>
      </div>
      <div class="row mt-2 px-5">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row my-5 article-text">
            {{ content }}
            
            <p><i>[Gostou do nosso conteúdo? Siga-nos no <a href="https://twitter.com/pindograma">Twitter</a>,
            no <a href="https://www.facebook.com/pindograma">Facebook</a> e no
            <a href="www.instagram.com/pindograma/">Instagram</a>.]</i></p>
          </div>

          <div class="row">
            <div class="bottom-author-photo">
              <img src="{{ author.image }}" alt="foto do autor" class="rounded-circle author-img m-0">
            </div>

            <div class="bottom-author-info">
              <div class="card bg-blue p-5 m-0 darkgray bottom-author-card">
                <p class="pl-4" style="margin: 0;">
                  <small>
                    <a href="{{ author.url }}">
                      <u><b>{{ author.name }}</b></u>
                    </a>
                    {{ author.bio }}.
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="row mt-2 px-5">
        <div class="card mt-2 bg-blue p-5" style="min-height: 250px;width: 100%;border-radius: 1px;border:none;">
          <h1 class="text-white" style="margin: -58px 0 0 0;">leia também</h1>
          <div class="card-body">
            <div class="row">
              {% for post in similar_posts limit:3 %}
                {% include related-post.html title=post.title author=post.author url=post.url image=post.image date=post.date %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
  </article>

  <article class="d-md-none single-mobile">
  <div class="container-fluid">
      <div class="row">
        <h2 class="blue px-4 mobile-article-title">{{ page.title }}</h2>
        <div class="px-4 w-100 subtitle">
          <p class="darkgray undertitle mobile-article-undertitle">{{ page.subtitle }}</p>
          <div class="row">
            <p class="col-7 blue underauthor mb-1 mobile-pheight"><small>POR {{ author.name | upcase }}</small></p>
            <p class="col-5 blue text-right underauthor mb-1 mobile-pheight"><small>{{ page.date | date: "%d/%m/%Y" }}</small></p>
          </div>
        </div>

        <div class="author-post-image-container-stretcher mt-2">
          <div class="author-post-image-container">
            <img src="{{ page.image }}" class="author-post-image" />
          </div>
        </div>
      </div>

      <div class="row p-4 article-text">
        {{ content }}

        <p><i>[Gostou do nosso conteúdo? Siga-nos no <a href="https://twitter.com/pindograma">Twitter</a>,
        no <a href="https://www.facebook.com/pindograma">Facebook</a> e no
        <a href="www.instagram.com/pindograma/">Instagram</a>.]</i></p>
      </div>

      <div class="row">
        <div class="col-12 mx-0 text-center" style="margin-bottom: -75px;">
          <img src="{{ author.image }}" alt="foto do autor" class="rounded-circle author-img m-0">
        </div>
        <div class="col-12 mx-0 px-0">
          <div class="card bg-blue text-center m-0 blue pt-5" style="min-height:150px;width: 100%;border-radius: 1px;border:none;z-index:-1;">
            <p class="pt-5 mobile-author-name"><small><i><u><strong>{{ author.name }}</strong></u></i></small></p>
            <p class="mobile-author-name"><small>{{ author.bio }}.</small></p>
          </div>
          <div class="col-12 blue text-center">
            <i class="fab fa-twitter fa-2x m-2"></i>
            <i class="fas fa-envelope fa-2x m-2"></i>
            <i class="fab fa-linkedin-in fa-2x m-2"></i>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <h1 class="title-read-too blue pl-5">leia também</h1>
        <div class="read-too">
          {% for post in similar_posts limit:3 %}
            {% assign mod = forloop.index | modulo: 2 %}
            {% if mod == 0 %}
              {% include related-post-mobile.html title=post.title author=post.author url=post.url image=post.image date=post.date %}
            {% else %}
              {% include related-post-mobile-white.html title=post.title author=post.author url=post.url image=post.image date=post.date %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row my-5 p-3">
        <div class="col-12">
          {% include newsletter-mobile.html %}
        </div>
      </div>
    </div>
  </article>
  <div style="clear:both"></div>
</section>
